* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.canvas-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#game-canvas {
	width: 50%;
	aspect-ratio: 1;
}
